.secret {
    height: 37px;
    width: 270px;
    background-color: black;
    border: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 40px;
    margin-left: -10px;
    padding-left: 15px;
    color: white;
    font-size: 20px;
    font-family: cursive;
    display: flex;
    position: relative;
    left: 10%;
    top: 20%;
    z-index: 10;
}

.maintain {
    height: 35px;
    width: 47px;
    background-color: black;
    z-index: 22;
    margin-top: 50px;
    margin-left: 250px;
    position: absolute;
    display: inline-block;
    border: solid;
    border-radius: 30px;
}

.heading {
    position: absolute;
    margin-left: 35px;
    color: white;
    font-family: cursive;
}

.box1 {
    height: 450px;
    width: 330px;
    background-color: rgb(37, 36, 36);
    top: 20%;
    left: 37%;
    position: absolute;
    border: solid;
    border-width: 3px;
    border-color: whitesmoke;
    border-radius: 40px;
    z-index: 33;
}

.see {
    height: 30px;
    width: 30px;
    position: absolute;
    margin-left: 13px;
    margin-top: 2px;
    z-index: 25;
    display: inline-block;
    cursor: pointer;
}

.see:hover {
    opacity: 0.7;
    transition: 0.75s;
}

.submit {
    margin-top: 170px;
    margin-left: 90px;
    height: 45px;
    width: 130px;
    border: solid;
    border-width: 3px;
    background-color: rgb(74, 73, 75);
    border-radius: 10px;
    font-size: 22px;
    z-index: 33;
    color: whitesmoke;
}

.submit:hover {
    opacity: 0.6;
    transition: 0.55s;
}

.end {
    visibility: hidden;
    height: 500px;
    width: 400px;
    background-color: rgb(121, 116, 116);
    position: absolute;
    z-index: 40;
    margin-left: -50px;
    margin-top: -30px;
    border: solid;
    border-width: 3px;
    border-radius: 30px;
    font-family: cursive;
    padding-left: 30px;
    display: inline-block;
}

.ending {
    display: inline-block;
}

.thumbs {
    height: 320px;
    width: 330px;
    margin-left: 40px;
}

.cros {
    margin-left: 340px;
    display: inline-block;
    position: absolute;
}

.cros:hover {
    opacity: 0.6;
    transition: 0.55s;
}